
@font-face {
    font-family: 'noto_regular';
    src: url('fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_bolditalic';
    src: url('fonts/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_bold';
    src: url('fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_italic';
    src: url('fonts/NotoSans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html
{
    font-family: noto_regular;
}

body
{
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

header
{
    background-color: #fff;
    height: 30px;
    padding: 10px 0;
}

header img:first-child
{
    float: left;
    margin-left: 50px;
    width: 120px;
}

header img:last-child
{
    float: right;
    margin-right: 50px;
    width: 120px;
}

#banner
{
    background: #f0ece3 url(images/banner.png) no-repeat center center;
    background-size: 660px;
    height: 300px;
    padding: 70px 0 0 50px;
    border-bottom: 25px solid #dddfe1;
    text-align: center;
}

#banner h1{
    color: #2c3e50;
    font-size: 41px;
    font-family: noto_bold;
}

#banner p
{
    color: #2c3e50;
}

#banner a
{
    background-color: #28ae60;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

#banner a:hover{
    color: #28ae60;
    background-color: #fff;
}

#banner img
{
    width: 500px;
    float: right;
}

#box_container{
    padding-bottom: 20px;
}

#box_container > div
{
    display: block;
    margin: 0;
    text-align: center;
}

#box_container > div > span
{
    display: inline-block;
}

#box_container .box_one{
    background-color: #23a085;
}

#box_container .box_one span
{
    width: 320px;
    padding: 20px 0 0 80px;
    text-align: left;
}

#box_container .box_one span img
{
    height:290px;
    margin-bottom:-5px;
}

#box_container .box_one div{
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 450px;
    padding: 60px 70px;
}

#box_container .box_two{
    background-color: #8e44ad;
}

#box_container .box_two span
{
    padding: 55px 60px 55px 40px;
    width: 320px;
    text-align: right;
}

#box_container .box_two span img
{
    width:290px;
}

#box_container .box_two div
{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 450px;
    padding: 50px 70px;
}

#box_container .box_three{
    background-color: #2c3e50;
}

#box_container .box_three span
{
    width: 320px;
    padding: 20px 40px 20px 50px;
    text-align: left;
}

#box_container .box_three span img
{
    width:280px;
}

#box_container .box_three div{
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 450px;
    padding: 40px 70px;
}

#box_container > div h2, #box_container > div p
{
    color: #fff;
}

#box_container > div h2{
    font-size: 28px;
    font-family: noto_bold;
}

#box_container > div p{
    font-size: 16px;
}

footer{
    background-color: #dfdfdf;
}

footer > div{
    display: inline-block;
    vertical-align: top;
}

.content{
    width: 300px;
    text-align: center;
}

.content p{
    background-color: #ffa080;
    margin: 20px auto 0;
    padding: 2px 10px;
    width: 200px;
    color: #fff;
    font-weight: bold;
}

.content p:first-child{
    margin-top: 40px;
}