@font-face{font-family:'bangla';
src:url('images/bangla-mn-regular.ttf') format('truetype');
font-style:normal}

html, body{
	margin: 0;
	padding: 0;
	font-family: "bangla", arial;
}

*{
	box-sizing: border-box;
}

body, header{
	background: url(images/bgPattern.jpg) top left repeat;
}

ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

.container, header, header .logo, main, footer{
	max-width: 1040px;
	width: 100%;
	margin: 0 auto;
}

main{
	position: relative;
}

header{
	margin-top: 20px;
	position: relative;
}

header .banner{
	display: block;
	width: 100%;
}

header .logo{
	position: fixed;
	top: 40px;
	left: 50%;
	transform: translateX(-47%);
	max-height: 150px;
	z-index: 10;
	display: none;
}

header .logo img{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 70px;
}

header .logo.small .logo__main, header .logo.small .intro{
	-webkit-animation: logoHide 0.2s steps(10) forwards;
	animation: logoHide 0.2s steps(10) forwards;
	position: relative;
}

header .logo .logo__main{
	-webkit-animation: logoShow 0.2s steps(10) forwards;
	animation: logoShow 0.2s steps(10) forwards;
}

@-webkit-keyframes logoHide {
  0%   { opacity: 1; visibility: hidden;}
  100% { opacity: 0; z-index: -11;}
}

@keyframes logoShow {
  0%   { opacity: 0; visibility: visible; }
  100% { opacity: 1;}
}

nav{
	display: block;
	position: fixed;
	top: 0;
	z-index: 20;
	width: 100%;
}

main{
	position: relative;
}

ol.nav{
    counter-reset: item;
}

ol.nav > li:before{
	content: counter(item) " ";
    counter-increment: item;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    line-height: 29px;
    font-size: 19px;
    letter-spacing: -2px;
    text-align: center;
    padding: 2px 3px 2px 0;
    top: 2px;
    left: 10px;
    border-radius: 100%;
    color: #d1bc83;
    border: 2px solid #d1bc83;
}

.navToggle{
	float: right;
	width: 50px;
	height: 45px;
	cursor: pointer;
	padding: 20px 10px 10px;
}

.navToggle span{
	position: relative;
}

.navToggle span, .navToggle span:before, .navToggle span:after{
	height: 3px;
	width: 100%;
	display: block;
	background-color: #000;
}

.navToggle span:before, .navToggle span:after{
	content: "";
	position: absolute;
}

.navToggle span:before{
	top: -10px;
}

.navToggle span:after{
	bottom: -10px;
}

.nav--framed{
	width: 120px;
	height: 35px;
	float: left;
	margin-top: 5px;
	display: none;
}

.nav.nav--framed a{
	display: none;
}

.nav--framed p{
	margin: 0;
	line-height: 0;
	cursor: pointer;
}

.nav--framed img{
	width: 100%;
}

.nav--main{
	display: block;
	background: url(images/bgPattern.jpg) top left repeat;
	border: 2px solid #e7e2c5;
	overflow: scroll;
	overflow-x: hidden;
	z-index: 10;
	position: fixed;
	top: 65px;
	left: 0;
	right: 0;
	max-height: 0;
}

.visible .nav--main{
	max-height: 900px;
	bottom: 0;
}

.nav--main li{
	display: block;
	position: relative;
	text-align: left;
	padding: 6px 15px 1px 45px;
}

.nav--main li:first-of-type{
	padding-top: 11px;
	border-radius: 7px 7px 0 0;
}

.nav--main li:first-of-type:before{
	top: 6px;
}

.nav--main li:last-of-type{
	padding-top: 11px;
	padding-bottom: 7px;
	border-radius: 0 0 7px 7px;
}

.nav--main li:last-of-type:before{
	top: 6px;
}

.nav--main a{
	color: black;
	font-size: 16px;
	text-decoration: none;
	color: #e7e2c5;
}

.nav li.active{
	background-color: #d1bc83;
}

.nav li.active:before{
	border: 2px solid #000;
	color: #000;
}

.nav li.active a{
	color: #000;
}

.nav a{
	display: block;
}

.nav__logo{
	float: left;
	width: 40px;
	height: 50px;
	margin-right: 20px;
}

.nav__logo a{
	display: block;
}

.nav__logo img{
	width: 100%;
}

.currentChapter{
	float: left;
	width: calc(100% - 150px);
	padding: 13px 20px 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.currentChapter .title, .currentChapter div, .currentChapter div p{
	display: inline-block;
	margin: 0;
	line-height: 20px;
}

.currentChapter .title a{
	color: #d3bd84;
}

.currentChapter div p{
	color: #e7e2c5;
}

.intro{
	position: absolute;
	top: 152px;
	left: 160px;
	max-width: 520px;
	text-align: center;
	color: #fff;
	font-size: 22px;
}

.summary{
    color: #d3bd84;
    font-size: 18px;
    max-width: 580px;
    margin: 30px auto;
}

.poem{
	width: 320px;
	margin: 60px auto;
}

.cover img{
	display: block;
	margin: 0 auto 140px;
	max-width: 700px;
	width: 100%;
}

.mainText{
	background: white;
	padding: 40px 60px;
	width: 700px;
	max-width: 100%;
	margin: 0 auto;
}

.mainText article{
	position: relative;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

.mainText article p{
	line-height: 24px;
}

.mainText article h2{
	text-align: center;
}

.mainText article img{
	width: 70%;
	margin: 0 auto;
	display: block;
}

.mainText article p:last-of-type{
	margin: 0;
}

.mainText article:after{
	display: none;
	content: "";
	position: absolute;
	height: 2px;
	width: 80px;
	background: black;
	left: 50%;
	margin-left: -40px;
	bottom: 0;
}

article.show{
	height: auto;
	visibility: visible;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

article.show:after{
	display: block;
}

@media all and (max-width: 1024px){
	nav{
	    background: url(images/bgPattern.jpg) top left repeat;
	    padding: 10px;
	    position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	}
}

@media all and (min-width: 600px){
	
	.topBgWrapper{
		background: 0 0 no-repeat;
		background-size: contain;
	}
	.topBgWrapper:last-of-type{
		margin: 0;
	}

	.secondBgWrapper{
		background: 0 0 repeat;
		background-size: contain;
		z-index: 1;
	}
	.closingBgWrapper{
		background: 0 0 no-repeat;
		background-size: cover;
		height: 240px;
		width: 100%;
	}
	.nav--framed{
		display: block;
	}
	.currentChapter{
	    width: calc(100% - 250px);
	}

}

@media all and (min-width: 1024px){
	header .logo{
		display: block;
	}

	header .logo img{
		height: 150px;
	}
	.nav__logo{
		display: none;
	}
	nav{
		display: block;
		position: fixed;
		top: 185px;
		margin-left: 10px;
		z-index: 1;
		max-width: 670px;
	}
	nav.small{
		max-width: 250px;
	}

	.nav--main{
		height: 200px;
		max-width: 250px;
		display: none;
	}

	nav.visible .nav--main{
		display: block;
	}

	.nav--framed{
		display: block;
		padding: 20px 0 20px 20px;
		width: 100%;
		height: auto;
		float: none;
		max-width: 670px;
		background: url(images/frame.png) 0 0 no-repeat;
		background-size: contain;
	}

	.nav.nav--framed p{
		margin-bottom: 10px;
	}

	.nav.nav--framed a{
		display: block;
	}

	nav.small .nav--framed{
		padding: 20px 0 0 20px;
		max-width: 135px;
		background: url(images/frame_small.png) 0 0 no-repeat;
		background-size: contain;
	}

	.nav--framed p, .nav--framed a{
		margin: 0;
		cursor: pointer;
		font-size: 18px;
		width: 115px;
	}

	.nav--framed img{
		width: 100%;
		max-width: 115px;
	}

	.nav--main{
		border-radius: 10px;
		position: relative;
		top: 0;
		margin: 10px 0;
	}

	.navToggle{
		display: none;
	}

	.currentChapter{
		background: url(images/chapterbox.png) 0 0 no-repeat;
		background-size: cover;
		padding: 5px;
		border: 1px solid #000;
		border-radius: 5px;
		width: 135px;
		margin-top: 20px;
		display: none;
	}

	.currentChapter .title{
		margin: 0 0 7px;
		display: block;
		text-align: center;
		background-color: #fff;
		padding: 5px 5px 0 5px;
		border-radius: 5px 5px 0 0;
	}

	.currentChapter .title a{
		color: #000;
		text-decoration: none;
	}

	.currentChapter .chapterNumber{
		padding: 3px 3px 0 3px;
		border: 1px solid #000;
		border-radius: 3px;
		background-color: #fff;
	}
	.currentChapter div p{
		display: block;
		margin: 10px 0 0;
		color: #000;
	}

	main{
		border: 20px solid transparent;
		border-top: none;
		border-bottom: none;
		-webkit-border-image: url(images/borderSide.png) 20 round;
		-o-border-image: url(images/borderSide.png) 20 round;
		border-image: url(images/borderSide.png) 20 round;
	}

	.mainText{
		background: white;
		padding: 80px 140px;
		width: 700px;
		max-width: 100%;
		margin: 0 auto;
	}

}