@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

.container-fluid.red{
	background-color: #a51143;
}

.container-fluid.darkgrey{
	background-color: #12121e;
}

.container-fluid .container{
	padding-left: 0;
	padding-right: 0;
}

header{
	padding: 5px 0;
}

header .col-md-4 img{
	width: 250px;
}

header .col-md-8{
	text-align: right;
}

.participate a{
	color: #000;
	text-transform: uppercase;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
	padding: 7px 15px;
}

.participate span a{
	padding-left: 0;
}

.participate span a:first-child{
	padding-right: 0;
	padding-left: 15px;
}

.participate span a:first-child:after{
	content: "/";
	display: inline-block;
	color: #000;
}

.participate .linkedin{
	background-image: url(../layout/linkedin.png);
	display: inline-block;
	width: 27px;
	height: 27px;
}

header .col-md-8 div:last-child, header .col-md-8  div:last-child a{
	color: #a51142;
}

header .col-md-8  div:last-child a{
	font-size: 16px;
	margin-left: 20px;
}

nav.navbar{
	text-align: right;
	margin: 0;
}

.navbar-nav{
	padding: 10px 0 5px;
	display: inline-block;
}

.navbar-nav li:first-child a{
	text-indent: -2999px;
	overflow: hidden;
	background: url(../layout/house.png) no-repeat center center;
	width: 50px;
}

footer .navbar-nav li:first-child a:hover{
	background: #fff url(../layout/house-black.png) no-repeat center center;
}

.main-nav .container{
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #fff;
	background-color: #12121e;
}

#main-nav{
	float: left;
	color: #fff;
	text-align: center;
	width: 100%;
}

.navbar-toggle{
	float: left;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

.nav > li > a:hover{
	background-color: #12121e;
}

.search{
	position: absolute;
	right: 20px;
}

.search img{
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	width: 50px;
}

.search input{
	background: #a51143 url(../layout/icon-search.png) no-repeat right 5px;
	color: #fff;
	padding: 12px 50px 12px 10px;
	border: none;
	text-transform: uppercase;
	width: 50px;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 600;
	vertical-align: top;
	margin: 15px 15px 0 0;
	transition: all 1s ease;
}

.search input:focus{
	width: 200px;
	border-bottom:1px solid #fff;
	transition: all 1s ease;
	outline: none;
}

.newsticker{
	padding: 0;
	overflow: hidden;
	margin: 0;
}

.newsticker li{
	padding: 15px 0 15px 50px;
	color: #fff;
	margin: 0;
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	list-style-type: none;
}

.carouselTicker{
	height: 50px;
}

.carouselTicker__clone{
	display: none !important;
}

#intro {
	background: url('../layout/banner.jpg') no-repeat top left scroll;
	background-size: cover;
	min-height: 730px;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-transform: uppercase;
}

.image-bg-fluid-height .dropdown{
	width: 300px;
	background-color: #a51143;
	margin-top: 20px;
}

.image-bg-fluid-height .dropdown .dropdown-toggle{
	border: none;
	background-color: #a51143;
	color: #fff;
	width: 100%;
	font-size: 25px;
	padding: 0;
	margin: 0;
}

.image-bg-fluid-height .dropdown .dropdown-menu{
	width: 300px;
	background-color: #a51143;
	border-radius: 0;
	border: none;
	border-top: 1px solid #fff;
	margin: 0;
}

.image-bg-fluid-height .dropdown .dropdown-menu li a{
	color: #fff;
	padding: 7px 20px;
}

.image-bg-fluid-height .dropdown .dropdown-menu li a:hover{
	text-decoration: underline;
	background-color: #a51143;
}

h1{
	font-size: 60px;
	color: #fff;
	font-weight: 700;
}

.pink-header{
	color: #e598b1;
	letter-spacing: 3px;
	font-size :22px;
}

.banner-content p{
	width: 700px;
	font-weight: normal;
	letter-spacing: 1px;
}

.button-red, .button-blue{
	display: inline-block;
	box-sizing: border-box;
	background: url(../layout/buttons.png) no-repeat 0 0;
	width: 215px;
	height: 52px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	text-transform: uppercase;
}

.button-blue:hover{
	background-position: 0 -104px;
	color: #fff;
	text-decoration: none;
}

.button-red:hover{
	background-position: 0 -52px;
	color: #fff;
	text-decoration: none;
}

.button-white
{
    display: inline-block;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	color: #000;
	text-align: center;
	line-height: 48px;
	text-transform: uppercase;
	width: 250px;
	margin: 10px 0 0 0;
	-webkit-box-shadow: 0px 3px 1px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 3px 1px rgba(50, 50, 50, 1);
	box-shadow:         0px 3px 1px rgba(50, 50, 50, 1);
}

.button-white:hover{
	color: #fff;
	background-color: #a51143;
	text-decoration: none;
}
span .button-red, span .button-blue{
	margin: 20px 20px 0 0;
}

.sharethis{
	margin-top: 25px;
}

.save-event{
	font-size: 12px;
	background-color: #a51143;
	color: #fff;
	display: inline-block;
	width: 150px;
	padding: 5px 3px 3px 3px;
	vertical-align: middle;
}

.save-event span{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

.sharethis .linkedin, .sharethis .twitter, .sharethis .other, .sharethis .save{
	background-image: url(../layout/linkedin-red.png);
	display: inline-block;
	width: 49px;
	height: 47px;
	margin-right: 10px;
}

.sharethis .twitter{
	background-image: url(../layout/twitter-red.png);
	width: 47px;
}

.sharethis .other{
	background-image: url(../layout/other-red.png);
	width: 49px;
}

.sharethis .save{
	background-image: url(../layout/save-red.png);
	width: 48px;
}

.sharethis div{
	float: right;
	margin-top: -100px;
}

.sharethis div p{
	text-align: center;
	font-weight: 18px;
	letter-spacing: 2px
}

.earlybird{
	position: absolute;
	top: 0;
	right: -300px;
	width: 800px;
	height: 100%;
	background: url(../layout/corner.png) no-repeat top left;
	overflow: hidden;
	text-align: right;
}

.earlybird p{
	font-size: 50px;
	font-weight: 700;
	width: 300px;
	position: absolute;
	left:150px;
}

.earlybird p span{
	display: block;
	width: 300px;
	font-weight: 400;
	font-size: 16px;
}

#overview .col-md-6 img
{
    width: 100%;
}

#overview .panel-group{
	margin-top: 30px;
}

.panel.panel-default
{
    border: none;
}

.panel-default>.panel-heading
{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
    padding: 0;
}

.panel-default>.panel-heading a
{
    display: block;
    padding: 15px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    position: relative;
}

.panel-default>.panel-heading a:before
{
    content: "-";
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    color: #000;
}

.panel-default>.panel-heading a.collapsed:before
{
    content: "+";
}

#speakers
{
    margin-top: 40px;
}

h2
{
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 60px 0;
}

#keynote-slider, #sponsors-slider, #exhibitors-slider, .slider
{
    position: relative;
}

#keynote-slider .owl-buttons,
#sponsors-slider .owl-buttons,
#exhibitors-slider .owl-buttons,
.slider .owl-buttons
{
    position: absolute;
    width: 100%;
    top: 40%;
    left: -20px;
    font-size: 50px;
    font-family: arial;
}

#sponsors-slider .owl-buttons,
#exhibitors-slider .owl-buttons
{
    top: -20px;
}

#sponsors-slider .owl-item,
#exhibitors-slider .owl-item
{
    text-align: center;
}

.owl-item > div{
	width: 90%;
	margin: 0 auto;
}

#keynote-slider .owl-buttons .owl-prev,
#sponsors-slider .owl-buttons .owl-prev,
#exhibitors-slider .owl-buttons .owl-prev,
.slider .owl-buttons .owl-prev
{
    position: absolute;
    top: 0;
    left: -5px;
}

#keynote-slider .owl-buttons .owl-next,
#sponsors-slider .owl-buttons .owl-next,
#exhibitors-slider .owl-buttons .owl-next,
.slider .owl-buttons .owl-next
{
    position: absolute;
    top: 0;
    right: -50px;
}

#speakers .keynote-speaker img
{
    width: 100%;
}

#speakers .keynote-speaker div
{
    background-color: #a51143;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

#speakers .keynote-speaker div h3
{
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

#speakers .keynote-speaker div hr
{
    margin: 10px -20px;
}

#speakers .keynote-speaker div p
{
    font-size: 10px;
}

.lead-sponsor, .sponsors, .exhibitors
{
    margin-top: 60px;
}

.lead-sponsor img
{
    display: block;
    margin: 0 auto 40px;
}

.lead-sponsor p
{
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.buttons{
	text-align: center;
	margin: 20px 0;
}

.container-fluid.grey{
	background-color: #f3f3f3;
}

#programme h2{
	margin-top: 50px;
}

#programme .button-white{
	font-size: 35px;
	border: none;
	background: none;
	box-shadow: none;
}

#programme .button-white:hover{
	color: #a51143;
}


.tabpanel{
	margin: 0 auto;
	max-width: 700px;
}

.nav-tabs{
	border: none;
	text-align: center;
	margin: 0 auto 40px;
}

.nav-tabs li{
	float: none;
	display: inline-block;
	width: 150px;
	border: none;
	border-radius: 3px;
	color: #a51142;
	background-color: #f3f3f3;
	margin: 0 10px;
}

.nav-tabs li.active{
	background-color: #a51142;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover {
	color: #fff;
	cursor: default;
	background-color: #a51142;
	border-radius: 3px;
	border: 1px solid #a51142;
}

.nav-tabs>li>a {
	color: #a51142;
	padding: 15px 10px;
	font-weight: 700;
	border: 1px solid #a51142;
	border-radius: 3px;
}

.event h3{
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 40px;
}

.event h3 span{
	color: #a51142;
}

.event div{
	clear: both;
	min-height: 130px;
}

.event img{
	float: left;
	padding: 0 40px 30px 0;
}

.strip{
	color: #000;
	padding-bottom: 40px;
}

.strip.red{
	color: #fff;
}

.strip h2{
	margin: 30px 0;
}

.strip .container > div{
	text-align: center;
	text-transform: uppercase;
	color: #000;
	padding-bottom: 40px;
}

.strip .container > div h3{
	font-size: 22px;
}

.strip .container > div img{
	width: 100%;
}

.strip .container > div a{
	color: #000;
}

.strip.red .container > div a, .strip.red .container > div h3, .strip.red .container > div h2, .strip.red .owl-buttons{
	color: #fff;
}

#partner img{
	display: block;
	margin: 0 auto;
	width: 300px;
}

#map h1{
	font-size: 50px;
}

#map iframe{
	width: 100%;
	height: 400px;
	margin: 0;
}

.grey-box{
	background-color: #161928;
	height: 105px;
	padding-top: 10px;
	margin: -5px auto 0;
	text-align: center;
}

#map .sharethis .linkedin, #map .sharethis .twitter, #map .sharethis .other{
	background-image: url(../layout/linkedin-white.png);
	display: inline-block;
	width: 48px;
	height: 47px;
	margin-right: 10px;
}

#map .sharethis .twitter{
	background-image: url(../layout/twitter-white.png);
	width: 49px;
}

#map .sharethis .other{
	background-image: url(../layout/other-white.png);
	width: 49px;
}

#map .sharethis .save{
	background-image: url(../layout/save.png);
	width: 48px;
}

.strip .col-md-4{
	text-align: center;
}

.strip .col-md-4 div a{
	display: block;
	color: #000;
}

.advert img{
	width: 70%;
	display: block;
	margin: 0 auto;
	padding: 50px 0;
}

.darkgrey{
	background-color: #0f101b;
}

.darkgrey > hr{
	margin: 10px -15px;
	border-color: #1b1c27;
}

.darkgrey > p{
	padding: 10px 0;
	margin: 10px auto;
	text-align: center;
	color: #808190;
	text-transform: uppercase;
	font-size: 10px;
}

/* FAQ PAGE */

#faq{
	background: url('../layout/banner-faq.jpg') no-repeat top left scroll;
	background-size: cover;
	min-height: 200px;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	padding-top: 40px;
	margin-bottom: 50px;
}

/* WELCOME PAGE */

#welcome{
	background: url('../layout/banner-welcome.jpg') no-repeat top left scroll;
	background-size: cover;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	padding-top: 40px;
	margin-bottom: 50px;
}

#sector{
	background: url('../layout/banner-welcome.jpg') no-repeat top left scroll;
	background-size: cover;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	padding-top: 40px;
	margin-bottom: 50px;
}


footer{
	padding: 40px 0 0 0;
}

footer .contact-details span, footer .contact-details a{
	color: #fff;
	font-size: 18px;
	display: inline-block;
	margin: 0 0 10px 20px;
}

footer .contact-details img{
	display: none;
}

footer .contact-details a:last-child{
	display: none;
	text-transform: uppercase;
	font-size: 13px;
}

footer .participate a{
	color: #a51142;
	font-weight: 700;
}

footer .navbar-nav{
	padding: 0;
}

footer .navbar-nav a:hover{
	background: #fff;
	color: #0f101b;
}

.follow{
	float: right;
	margin-top: -40px;
}

.follow p{
	color: #fff;
	font-size: 18px;
}

footer .linkedin, footer .twitter{
	background-image: url(../layout/linkedin-grey.jpg);
	display: inline-block;
	width: 47px;
	height: 47px;
	margin-right: 10px;
}

footer .twitter{
	background-image: url(../layout/twitter-grey.jpg);
	width: 48px;
}

@media all and (max-width: 1200px){
	.earlybird{
		position: relative;
		right: inherit;
		top: inherit;
		display: block;
		background-color: #a51143;
		background-image: none;
		text-align: left;
		margin: 0;
		width: 100%;
		padding: 20px 50px;
	}
	.earlybird p{
		position: relative;
		left: inherit;
		top: inherit;
		width: auto;
	}

	.earlybird p br{
		display: none;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 12px;
		padding: 14px 9px;
	}
	#map h1{
		font-size: 40px;
	}
	.grey-box {
		height: auto;
		padding-top: 0;
		padding-bottom: 20px;
	}
}

@media all and (max-width: 991px){
	.container{
		width: auto;
	}
	header > div{
		width: 45%;
		display: inline-block;
		vertical-align: top;
	}
	header .participate > a{
		display: none;
	}
	.search img {
		margin-top: 3px;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 11px;
		padding: 13px 8px;
	}
}

@media all and (max-width: 800px){
	h1{
		font-size: 50px;
	}
}

@media all and (max-width: 767px){
	.search{
		top: 5px;
	}
	.search input{
		margin-top: 0;
	}
	.search img{
		margin-top: 0;
		width: 40px;
	}
	.navbar-nav li:first-child a{
		width: inherit;
	}
	.banner-content > span{
		text-align: center;
		display: block;
	}
	.sharethis{
		text-align: center;
		margin: 20px 0;
	}
	.sharethis div{
		float: none;
		margin: 20px auto 0;
		width: 252px;
	}
	.sharethis div img{
		width: 100%;
	}
	.banner-content p{
		width: auto;
	}
	.lead-sponsor img{
		width: 60%;
	}
	footer .contact-details img{
		display: inline-block;
		float: right;
		margin-top: -10px;
	}
	footer .contact-details a, footer .contact-details span{
		margin: 0 20px 10px 0;
	}
	footer .contact-details a:last-child{
		display: block;
	}
	footer .participate a, footer .participate span a{
		display: none
	}

	footer .nav{
		display: none;
	}
	footer .follow{
		display: block;
		margin: 20px 0 0 0;
		text-align: left;
		float: none;
	}
}

@media all and (max-width: 675px){
	.earlybird{
		padding: 20px 15px;
		text-align: center;
	}
	.earlybird p{
		font-size: 25px;
	}
	.earlybird p span{
		font-size: 14px;
		width: auto;
	}
	.earlybird p strong{
		font-size: 35px;
	}
	h1{
		font-size: 30px !important;
	}
	.advert img{
		width: 100%;
	}
}

@media all and (max-width: 630px){
	header > div {
	width: 100%;
	display: block;
	text-align: center;
	vertical-align: top;
	}
	header .col-md-8 {
		text-align: center;
	}
	header .col-md-8 div:last-child a {
		margin: 0;
	}
	#partner img{
		width: 252px;
	}
	.grey-box{
		height: auto;
		padding: 20px 0;
	}
	span .button-red, span .button-blue{
		margin: 0 auto 20px;
	}

	span .button-blue:last-child{
		margin: 0 auto;
	}
	.button-blue, .button-white, .button-red{
		display: block;
		margin: 0 auto;
	}
	.button-white{
		margin-bottom: 10px;
	}
	.banner-content > span br{
		display: none;
	}
}

@media all and (max-width: 480px){
	header .col-md-4 img {
		width: 100%;
	}
	h1 {
		font-size: 20px !important;
	}
	.search input:focus {
		width: 171px;
	}
	.image-bg-fluid-height .dropdown, .image-bg-fluid-height .dropdown .dropdown-menu{
		width: 100%;
	}
	#keynote-slider .owl-buttons .owl-next, #sponsors-slider .owl-buttons .owl-next, #exhibitors-slider .owl-buttons .owl-next, .slider .owl-buttons .owl-next{
		right: -35px;
	}
	#keynote-slider .owl-buttons .owl-prev, #sponsors-slider .owl-buttons .owl-prev, #exhibitors-slider .owl-buttons .owl-prev, .slider .owl-buttons .owl-prev{
		left: 0;
	}
	footer .contact-details img{
		display: none;
	}
}