
@font-face {
    font-family: 'noto_regular';
    src: url('fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_bolditalic';
    src: url('fonts/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_bold';
    src: url('fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_italic';
    src: url('fonts/NotoSans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html
{
    font-family: noto_regular;
}

body
{
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

header
{
    background-color: #fff;
    height: 30px;
    padding: 10px 0;
}

header img:first-child
{
    float: left;
    margin-left: 50px;
    width: 120px;
}

header img:last-child
{
    float: right;
    margin-right: 50px;
    width: 120px;
}

#banner
{
    background: #f0ece3 url(images/banner.png) no-repeat 560px 110px;
    background-size: 450px;
    height: 300px;
    padding: 70px 0 0 50px;
    border-bottom: 25px solid #6d7273;
}

#banner h1{
    color: #663d4f;
    font-size: 41px;
    font-family: noto_bold;
}

#banner p
{
    width: 470px;
    color: #663d4f;
}

#banner a
{
    background-color: #c6403d;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

#banner a:hover{
    color: #c6403d;
    background-color: #fff;
}

#banner img
{
    width: 500px;
    float: right;
}

#box_container{
    padding-bottom: 20px;
}

#box_container > div
{
    display: inline-block;
    margin: 0 -4px 0 0;
    vertical-align: top;
    text-align: center;
}

#box_container > div > span
{
    display: block;
}

#box_container .box_one span
{
    background-color: #eab25a;
    padding: 20px 40px 0;
}

#box_container .box_one span img
{
    height:330px;
    margin-bottom: -4px;
}

#box_container .box_two span
{
    background-color: #fa514a;
    padding: 92px 40px;
}

#box_container .box_two span img
{
    width:260px;
}

#box_container .box_three span
{
    background-color: #3670a0;
    padding: 31px;
}

#box_container .box_three span img
{
    width:280px;
}

#box_container > div h2, #box_container > div p
{
    width: 320px;
    padding: 0 10px;
}

#box_container > div h2{
    font-size: 28px;
    font-family: noto_bold;
    color: #000;
}

#box_container > div p{
    font-size: 13px;
    color: #7f8a96;
}

footer{
    background-color: #dfdfdf;
}

footer > div{
    display: inline-block;
    vertical-align: top;
}

.content{
    width: 300px;
    text-align: center;
}

.content p{
    background-color: #ffa080;
    margin: 20px auto 0;
    padding: 2px 10px;
    width: 200px;
    color: #fff;
    font-weight: bold;
}

.content p:first-child{
    margin-top: 40px;
}