html,body {height:100%;width:100%;}
.jumbotron {background-color:inherit;}
.container-full-bg {width:100%;height:100%;max-width:100%;background-position:center;background-size:cover;}
.container-full-bg .container, .container-full-bg .container .jumbotron {height:100%;width:100%;}