
body {font-family: 'Avenir Next LT Pro Regular' !important;}
.ui-menu {top: 50px !important; z-index: 99 !important;}
.navbar-toggle {float: left !important; margin-left: 15px !important;}
.navbar-brand {float: right !important;}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {background: #061a33;}
.navbar-brand, .navbar-nav>li>a {text-shadow: 0 0px 0 rgba(255,255,255,.25) !important; color #ffffff !important;}
.navbar-brand:hover {color #ffffff !important;}
.navbar-default .navbar-brand {color: #FFF;}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFF !important;}
.navbar-default {background-image: none !important; background-color: #061a33 !important;}
.navbar-default .navbar-nav>li>a {color: #FFF !important;}
.navbar-toggle:hover {background-color: #061a33 !important;}
.navbar-toggle:focus {background-color: #061a33 !important;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {color:  #061a33 !important;}
.active li {background:#e3e3e3;}
.nav>li {

  border-bottom: 1px solid white !important;
}
img {max-width: 100%;}
#logo {text-align: center;}
.logo {padding-left: 15px; padding-right: 15px;}
.phone {
  float: right;
  width: 35px;
  position: relative;
  top: 8px;
  left: 10px;
}
#header-img {text-align: center; margin-bottom: 20px; margin-top: 20px;}

#main {margin-bottom: 20px; text-align: center;}

p {color: #071b34;}

.quotebox {background: #e3e3e3; padding: 20px;}
#form {margin-top: 10px;}

#request {text-align: center;}
.request {font-size: 24px;}

#submit-button {text-align: center; margin-top: 20px;}
.submit-button {background: #061a33; border: 2px solid #FFF; font-size: 24px; width: 100%; color: #FFF !important; padding: 10px;}
.submit-button a {color: #FFF !important;}

#logos {text-align: center; margin-top: 20px; margin-bottom: 20px;}
#footer {background-color: #061a33 !important; text-align: center; color: #fff; padding-top: 5px; padding-bottom: 5px; font-size: 12px;}

@media all and (min-width: 800px) {

.phone {
  float: right;
  width: 35px;
  position: relative;
  top: 8px;
  left: -4px;
}

.nav>li {
border-bottom: 0px solid white!important;
}
}