html, body{
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

body, header{
	background: url(images/bgPattern.jpg) top left repeat;
}

ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

.container, main, footer{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

main{
	border: 20px solid transparent;
	-webkit-border-image: url(images/borderSide.jpg) 20 round;
	-o-border-image: url(images/borderSide.jpg) 20 round;
	border-image: url(images/borderSide.jpg) 20 round;
}

header{
	position: fixed;
	width: 250px;
	top: 0;
	left: 0;
	z-index: 10;
}

header .logo{
	display: inline-block;
	vertical-align: bottom;
}

header .logo img{
	display: block;
	width: 110px;
}

nav{
	display: block;
	margin-top: 30px;
}

main{
	margin-top: 95px;
}

.nav--main > li{
	display: block;
	position: relative;
	text-align: left;
	margin-left: -4px;
}

.nav--main > li > a{
	text-transform: uppercase;
	color: black;
	font-size: 20px;
	text-decoration: none;
}

.nav--secondary{
	position: relative;
	top: 100%;
	left: 0;
	width: 100%;
	background: white;
	display: block;
}

.nav--main li:hover .nav--secondary{
	display: block;
}

.nav li.active{
	background: blue;
}

.nav--secondary li a{
	display: block;
	padding: 5px 10px;
}

.nav a{
	display: block;
}

.nav img{
	display: block;
	width: 100%;
}

.summary{
	color: #fff;
}

.summary .author{
	font-weight: 700;
}

.cover{
	display: block;
	margin: 0 auto 160px;
	max-width: 100%;
	width: 700px;
}

.mainText{
	background: white;
	padding: 80px 160px;
	width: 700px;
	margin: 0 auto;
}

.mainText article{
	position: relative;
	
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

.mainText article p:last-of-type{
	margin: 0;
}

.mainText article:after{
	display: none;
	content: "";
	position: absolute;
	height: 2px;
	width: 80px;
	background: black;
	left: 50%;
	margin-left: -40px;
	bottom: 0;
}

article.show{
	height: auto;
	visibility: visible;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

article.show:after{
	display: block;
}