.header{
	background-color: #154053;
	color: #fff;
	padding: 10px 0 10px 300px;
}

.header p{
	padding: 0 0 10px 0;
	margin: 0;
}

.header input[type=text]{
	padding: 2px 10px;
	outline: none;
	border: none;
	border-radius: none;
	width: 400px;
	height: 35px;
}

.header input[type=submit]{
	background-color: #f8bf12;
	color: #fff;
	outline: none;
	border: none;
	height: 35px;
	padding: 5px 10px;
}

.friends-management{
	padding: 0 50px;
}

.header form, .friends-management{
	display: inline-block;
	vertical-align: top;
}

.friends-management img{
	width: 35px;
	height: 35px;
	display: inline-block;

}

.avatar{
	display: inline-block;
	margin-bottom:-40px;
}

nav{
	background-color: #0c2430;
	padding: 10px;
	text-align: center;
}

nav a{
	display: inline-block;
	vertical-align: top;
	color: #f8bf12;
	font-weight: bold;
	width: 110px;
}

nav a:hover{
	color: #f8bf12;
}

nav a img{
	display: block;
	margin: 0 auto;
	width: 35px;
	height: 35px;
}

.main{
	background-color: #d5d5d5;
}

/*
.groups-feed div,
.societies-feed div,
.suggested-contacts-feed div,
.events-feed div
*/

.col-sm-3 > div h3, .col-sm-3 > div p{
	text-align: center;
}

.col-sm-3 > div div
{
	padding: 10px;
	margin: 0 10px 0 0;
	font-weight: bold;
}

/*
.groups-feed div img,
.societies-feed div img,
.suggested-contacts-feed div img,
.events-feed div img
*/
.col-sm-3 > div div img
{
	display: inline-block;
	width: 55px;
	height: 35px;
	padding: 0 20px 0 0;
}

.news-feed{
	background-color: #d5d5d5;
}

.events-feed div