@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

html, body{
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body > .container-fluid
{
    padding: 0;
}

p
{
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 30px;
}

.main{
	max-width: 1170px;
	margin: 30px auto 0;
	color: #505151;
}

header{
	margin: 30px 0;
}

.wrapper{
	padding: 0;
	margin-top: 50px;
}

.navbar {
	background-color: #6aa1d6;
	font-size: 22px;
}

 .dropdown-menu li{
 	font-size: 19px;
 }

.navbar-default{
	border: none;
	border-radius: 0;
	margin: 0;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .nav.navbar-nav a, .navbar-default .navbar-nav .open .dropdown-menu>li>a{
	display:block;
	padding: 0 15px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #fff;
	background: #69a1d0;
	text-decoration: none;
}

.navbar-default .nav.navbar-nav a:hover, .navbar-default .nav.navbar-nav a:focus,
.navbar-default .nav.navbar-nav li.active a, .navbar-default .nav.navbar-nav li.active a:hover, .navbar-default .nav.navbar-nav li.active a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
	color: #c4dcf4;
	background-color: #69a1d0;
}

.dropdown-menu{
	padding: 0;
	border: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-brand > img{
	margin-top: -4px;
}

.banner, .banner img{
	width: 100%;
}

.blue-line{
	border: none;
	height: 2px;
	background-color: #eee;
	position: relative;
}

.blue-line:before{
	content: "";
	display: block;
	position: absolute;
	top: -2px;
	left: 0;
	width: 150px;
	height: 6px;
	background-color: #69a1d0;
}

h1{
	font-size: 50px;
	font-weight: 300;
	margin: 60px 0 20px;
	font-family: 'Open Sans', sans-serif;
}

h1 span{
	font-weight: 700;
}

.header-italics
{
    font-family: Georgia;
	font-style: italic;
	font-size: 25px;
	line-height: 40px;
	font-weight: 400;
	margin: 30px 0 70px;
}

h2{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
}

.addrbox{
	border: 1px solid #eee;
	padding: 40px 30px;
	vertical-align: top;
	display: block;
}

.addrbox.small{
	margin-top: 50px;
	padding: 20px;
}

.addrbox img{
	display: inline-block;
	width: 475px;
	padding-right: 100px;
	vertical-align: top;
}

.addrbox p
{
    width: 230px;
}

.addrbox > div{
	display: inline-block;
	vertical-align: bottom;
}

.addrbox iframe
{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: block;
}

.addrbox .contact-info
{
    letter-spacing: normal;
}

.addrbox .contact-info span, .addrbox .contact-info a{
	display: block;
	padding-left: 40px;
	margin: 7px 0;
	background: #fff url(../layout/icon-phone.png) no-repeat 0px 6px;
}

.addrbox .contact-info a
{
    background-image: url(../layout/icon-mail.png);
    color: #505151;
}

.addrbox .contact-info a:hover, .addrbox .contact-info a:active
{
    color: #69a1d0;
}

.addrbox h4{
	font-size: 25px;
}

.addrbox h5{
	font-size: 22px;
	margin-bottom: 25px;
}

.addrbox p{
	margin: 0 0 5px 0;
	letter-spacing: 1px;
}

.team .row .col-sm-3
{
    width: 30%;
    margin: 0 0 30px 0;
}

.team .row .col-sm-3:nth-child(2),
.team .row .col-sm-3:nth-child(5),
.team .row .col-sm-3:nth-child(8)
{
    margin: 0 30px 30px;
}

.team .row > div
{
    padding: 25px;
    border: 1px solid #eee;
    border-radius: 5px;
    vertical-align: top;
}

.team .row > div img
{
    padding: 7px;
    width: 190px;
    height: 190px;
    display: block;
    margin: 0 auto;
    border: 1px solid #eee;
    -webkit-box-shadow: 4px 4px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 7px 0px rgba(50, 50, 50, 0.75);
}

.team .row > div h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	color: #69a1d0;
	margin: 20px 0 0 0;
}

.team .row > div span{
	color: #69a1d0;
	display: block;
	margin: 0 0 10px 0;
}

.team .row > div p{
	min-height: 330px;
}

.team .row.large > div p{
	min-height: 640px;
}

.team .row > div a{
	display: block;
	padding-left: 40px;
	margin: 30px 0 0 0;
	color: #505151;
	line-height: 18px;
	background: #fff url(../layout/icon-mail-grey.png) no-repeat top left;
}

.testimonials div{
	background-color: #eee;
	padding: 30px 20px;
	position: relative;
	margin: 0 0 150px 0;
}

.testimonials div:before{
	content: "";
	display: block;
	position: absolute;
	bottom: -30px;
	left: 40px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #eee;
}

.testimonials div:after{
	content: "";
	display: block;
	width: 90px;
	height: 90px;
	background: transparent url(../layout/quotes.png) no-repeat 0 0 / 90px 90px;
	position: absolute;
	bottom: -130px;
	left: 15px;
}

.testimonials div:nth-child(even):before{
	left: inherit;
	right: 40px;
}

.testimonials div:nth-child(even):after{
	left: inherit;
	right: 15px;
}

.testimonials div h4{
	font-weight: 700;
}

.testimonials div .quote{
	margin: 25px 0;
	letter-spacing: 1px;
	line-height: 25px;
}

.testimonials div .name{
	margin: 0;
	font-size: 20px;
}

.rightcol > img, .rightcol > a img
{
    width: 100%;
}

.rightcol h3
{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #69a1d0;
    margin-top: 40px;
}

.rightcol h3:first-child
{
    margin-top: 0;
}

.quick-search{
	padding: 20px 10px;
	border: 1px solid #eee;
	border-radius: 5px;
}

.quick-search p{
	margin: 20px 0 5px;
	font-weight: 700;
}

.quick-search p:first-child{
	margin-top: 0;
}

.quick-search .btn-default{
	margin: 30px 0 10px;
	width: 100%;
	background-color: #fd5234;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	border: 1px solid #91b750;
}

.quick-search .btn-default:hover
{
    text-decoration: underline;
}

.quick-search .btn-default:active
{
    background-color: #91b750;
}

.button.blue
{
    display: block;
    color: #fff;
    width: 210px;
    height: 50px;
    margin: 40px 0;
    text-align: center;
    background-color: #69a1d0;
    padding: 10px;
    vertical-align: middle;
    border-radius: 15px;
    text-shadow: 2px 2px 4px rgba(70, 70, 70, 1);
    text-transform: uppercase;
    line-height: 28px;
}

.button.blue.double
{
    line-height: 14px;
}

.signup{
	background: #17202a url(../layout/bg-form.png) no-repeat 0 0;
	padding: 20px 30px 40px;
}

.signup h1{
	margin: 20px 0;
}

.signup .form-control, .signup .btn-default{
	padding: 3px 12px;
	height: 26px;
	width: 100%;
}

.signup .form-group{
	margin-bottom: 10px;
}

.signup .btn-default{
	background-color: #85afcf;
	color: #fff;
	border: none;
}

.signup fieldset{
	color: #fff;
	text-align: center;
}

.signup img
{
    width: 100%;
}

.signup fieldset h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
}

.signup fieldset p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	margin: 15px 0;
}


footer{
	margin-top: 70px;
	padding: 80px 0 10px;
	background-color: #6aa1d6;
}

footer .main{
	text-align: center;
}

footer .main a{
	display: block;
	color: #fff;
	font-size: 24px;
}

footer .main a[href^=tel]{
	font-size: 40px;
	font-weight: 900;
}

footer .main .socials a{
	display: inline-block;
	margin: 15px 10px 25px;
	color: #fff;
}

footer .main .socials a img{
	width: 36px;
	height: 36px;
}

footer .main > p
{
    color: #fff;
    margin-top: 40px;
    font-size: 12px;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    background-color: #6aa1d6;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    opacity: .9;
    padding: 10px 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
    -webkit-backface-visibility: hidden;
}

#scrollUp:hover {
    background-color: #000;
}

.mortgages-table thead {font-weight: 600; font-size: 13px;}
.mortgages-table tbody {font-size: 13px;}

.desktop-hide{
	display: none;
}

@media screen and (max-width: 1200px){
	.team .row > div img
    {
        padding: 7px;
        width: 160px;
        height: 160px;
    }
    .addrbox img {
        display: inline-block;
        width: 350px;
        padding-right: 60px;
        vertical-align: top;
    }
	.team .row > div p
	{
	    min-height: 450px;
	}
	.team .row.large > div:first-child h3
	{
	    font-size: 16px;
	} 
	.team .row.large > div:nth-child(5) h3,
	.team .row.large > div:nth-child(8) h3
	{
	    font-size: 13px !important;
	}
	.team .row.large > div p
	{
	    min-height: 540px !important;
	}
	.team .row.large > div:nth-child(4) p,
	.team .row.large > div:nth-child(5) p,
	.team .row.large > div:nth-child(6) p
	{
	    min-height: 840px !important;
	}
	
	.team .row.large > div:nth-child(7) p,
	.team .row.large > div:nth-child(8) p,
	.team .row.large > div:nth-child(9) p
	{
	    min-height: 690px !important;
	}
}

@media screen and (max-width: 1130px){
	.navbar {
		font-size: 20px;
		padding-right: 0;
	}
}

@media screen and (max-width: 1062px){
	.navbar {
		font-size: 18px;
	}
}

@media screen and (max-width: 996px){
	.navbar {
		font-size: 16px;
	}
	
	.team .row
	{
	    display: inline;
	    float: left;
	}
	.col-sm-9:after
	{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
	}
    
    .team .row .col-sm-3
    {
        width: 43%;
        margin: 0 20px 30px !important;
    }
    .team .row .col-sm-3 img
    {
        width: 250px;
        height: 250px;
    }
    .team .row > div p
    {
        min-height: 270px;
    }
    .team .row.large > div p,
    .team .row.large > div:nth-child(4) p, .team .row.large > div:nth-child(5) p, .team .row.large > div:nth-child(6) p
    {
        min-height: 360px !important;
    }
    .team .row.large > div:first-child h3
	{
	    font-size: 18px;
	} 
	.team .row.large > div:nth-child(5) h3,
	.team .row.large > div:nth-child(8) h3
	{
	    font-size: 18px !important;
	}
	.team .row.large > div:nth-child(7) p,
	.team .row.large > div:nth-child(8) p,
	.team .row.large > div:nth-child(9) p
	{
	    min-height: 420px !important;
	}
    .rightcol, .col-sm-9
    {
        display: block;
        width: 100%;
        float: none;
    }
    .rightcol
    {
        width: 282px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 928px){
	.navbar {
		font-size: 14px;
	}
}

@media screen and (max-width: 877px){
	.navbar {
		font-size: 11px;
	}
}

@media screen and (max-width: 767px)
{
    h1
    {
        font-size: 35px;
    }
    .header-italics
    {
        font-size: 20px;
    }
    h2
    {
        font-size: 20px;
    }
	.navbar {
		font-size: 24px;
		padding: 0 15px;
	}
	.navbar .container
	{
	    margin: auto;
	}
	.team .row
	{
	    float: none;
	}
	.team .row .col-sm-3
    {
        display: block;
        width: 260px;
        padding: 25px 10px;
        margin: 0 auto 30px !important;
    }
    .team .row .col-sm-3 img
    {
        width: 220px;
        height: 220px;
    }
    .testimonials div
    {
        margin-bottom: 60px;
    }
    .testimonials div:before{
	    content: "";
	    display: none;
    }

    .testimonials div:after{
	    content: "";
	    display: block;
	    width: 100%;
	    height: 0;
	    background: none;
	    border-bottom: 2px solid #eee;
	    left: 0 !important;
	    right: inherit !important;;
	    bottom: -30px;
    }
	.team .row.large > div p
	{
	    min-height: 0 !important;
	}
	.team .row.large > div:nth-child(4) p,
	.team .row.large > div:nth-child(5) p,
	.team .row.large > div:nth-child(6) p
	{
	    min-height: 0 !important;
	}
	.team .row.large .col-sm-3 p,
	.team .row.large > div:nth-child(7) p,
	.team .row.large > div:nth-child(8) p,
	.team .row.large > div:nth-child(9) p
	{
	    min-height: 0 !important;
	}
}

@media screen and (max-width: 705px){
	.navbar {
		font-size: 24px;
	}
	.addrbox img {
        display: none;
    }
    .addrbox p {
        width: auto;
    }
    .addrbox
    {
        display: block;
        width: 260px;
        margin: 0 auto;
        vertical-align: top;
    }

}

@media screen and (max-width: 611px){
    .blog-title span
	{
	    font-size: 45px !important;
	}
	.diagnostic-arrows div:first-child
    {
        display: none;
    }
    .diagnostic-arrows div:last-child
    {
        max-width: 100%;
    }
    .list-line li{
    	display: block;
    	line-height: 25px;
    	border: none;
    }
    .list-line li a{
    	padding: 0;
    }
    .landing-regions .landing-box
	{
	    width: 60%;
	}
	.landing-regions .landing-box p
	{
	    min-height: 150px;
	}
}

@media screen and (max-width: 450px)
{
	header img {
		width: 90%;
		display: block;
		margin: 0 auto;
	}
	.blog-post.block
	{
	    width: 95%;
	}
	.breadcrumb{
		font-size: 17px;
	}
	.blog-title
	{
	    font-size: 32px;
	}
	.blog-title span
	{
	    font-size: 40px !important;
	}
	.landing-regions .landing-box
	{
	    width: 90%;
	}
	
}

@media screen and (max-width: 430px){
	.breadcrumb{
		font-size: 14px;
	}
}
@media screen and (max-width: 371px){
	.breadcrumb{
		font-size: 13px;
	}
	.blog-title
	{
	    font-size: 26px;
	    margin-bottom: -20px;
	}
	.blog-title span
	{
	    font-size: 34px !important;
	}
	.wrapper{
		padding: 0;
	}
	.container{
		padding: 0;
	}
	.container .col-sm-4{
		padding: 0;
	}
	.menu{
		background-image: none;
		padding: 0 0 20px 17px;
		width: 260px;
	}
	footer .main a[href^=tel]
	{
	    font-size: 35px;
	}
}
