header{
	background-color: #3e698a;
	text-align: right;
	color: #fff;
	padding: 10px 0;
	border: none;
}

header a, header a:hover{
	color: #fff;
}

.image-bg-fluid-height {
	background: url('../images/slide1.jpg') no-repeat top left scroll;
	background-size: 100% 100%;
	height: 800px;
}

nav.navbar-inverse{
	padding: 20px 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a
{
    padding: 15px 0;
    margin: 0 30px;
    color: #fff;
}

.navbar-inverse .navbar-nav > li:hover a
{
    padding: 15px 0 13px;
    border-bottom: 2px solid #fff;
}

.navbar-form.navbar-left
{
    padding: 0;
    width: 36%;
}

.navbar-form.navbar-left .form-group:nth-child(2)
{
    width: 49%;
}

.navbar-form input[type=password]
{
    width: 62%;
}

.navbar-form .btn-default
{
    width: 30%;
}

.navbar-brand{
	margin-top: -15px;
}

#carousel{
	height: 500px;
	padding-top: 60px;
}

#carousel .carousel-caption{
	width: 50%;
	position: static;
	display: inline-block;
	vertical-align: top;
}

#carousel .carousel-caption ul
{
    text-align: left;
    list-style: none;
    padding:0;
    margin: 0 0 0 20px;
}

#carousel .carousel-caption ul li
{
    color: #fff;
}

#carousel .carousel-caption ul li:before
{
    content: "\002022 ";
    font-size: 30px;
    line-height: 0;
    padding-right: 10px;
    vertical-align: middle;
    color: #ff9c00;
}

.carousel-caption .btn.orange
{
    background-color: #ff9c00;
    border: none;
    color: #fff;
}

.carousel-indicators{
	border-top: 1px solid #fff;
	width: 100%;
	left: 50%;
	margin-left: -50%;
}

.carousel-indicators li, .carousel-indicators li.active{
	text-indent: 0;
	list-style-type: none;
	background: transparent;
	border: none;
	color: #ff9c00;
	padding: 20px 10% 0;
	height: inherit;
}

.carousel-indicators li.active{
	color: #fff;
	position: relative;
}

.carousel-indicators li.active:before{
    position:absolute;
    content:"";
    width:0px;
    height:0px;
    border-top: 10px solid white;
    border-right: 7px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 7px solid transparent;
    top:-1px;
}





@media all and (width: 767px)
{
    .navbar-form input[type=password]
    {
        width: 70%;
        display: inline-block;
    }

    .navbar-form .btn-default
    {
        width: 29%;
    }
}