@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900);

html, body{
	margin: 0;
	padding: 0;
	font-family: Raleway;
}

header.container{
	padding: 30px 0 40px;
}

header .col-sm-3{
	padding-top: 25px;
}

header .col-sm-6{
	text-align: center;
}

header form input, .basket{
	background: #fff url(../layout/icon-search.png) no-repeat 10px 5px;
	padding: 12px 10px 12px 50px;
	border: 1px solid #c6c6c6;
	text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 10px;
}

header form input:focus{
	outline: 1px solid #787878;
}

header a{
	color: #787878;
	font-weight: 500;
}

header .col-sm-3:last-child{
	text-align: right;
}

.left-nav.col-md-3{
	padding: 0 30px 0 0;
}

.basket{
	background: #fff url(../layout/icon-basket.png) no-repeat 20px 5px;
	padding: 12px 10px 12px 70px;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	display: block;
}

.basket:hover{
	border: 1px solid #787878;
}

.basket p{
	margin: 0;
}

.basket p span{
	font-weight: 700;
}

.navbar-header{
	float: none;
}

.navbar-default.main-nav, footer{
	background-color: #313131;
	padding: 0;
}

a, a:hover{
	text-transform: uppercase;
	color: #787878;
}

.navbar-default.main-nav .navbar-brand{
	display: none;
}

.navbar-default.main-nav .navbar-nav li{
	padding: 0;
	margin: 0;
}

.navbar-default.main-nav .navbar-nav li a, .navbar-default.main-nav .navbar-nav li a:focus{
	color: #e8e8e8;
	padding: 14px 0 14px 14px;
	display: inline-block;
	font-size: 13px;
}

.navbar-default.main-nav .navbar-nav li a:after{
	content: "|";
	padding-left: 14px;
}

.navbar-default.main-nav .navbar-nav li:first-child a{
	padding-left: 0;
}

.navbar-default.main-nav .navbar-nav li:last-child a:after{
	content: "";
}

.navbar-default.main-nav .navbar-nav li a:hover{
	text-decoration: underline;
	color: #fff;
}

.secondary-nav.navbar-default{
	background-color: #fff;
	border: none;
	padding: 0;
}

.secondary-nav .navbar-brand{
	margin: 0;
}

.secondary-nav.navbar-default form label{
	cursor: pointer;
	font-weight: 600;
	padding: 0 0 0 10px;
}

.secondary-nav.navbar-default form div{
	margin-bottom: 7px;
}

.secondary-nav.navbar-default form input[type=checkbox]{
	margin: 3px 0 0 5px;
}

.secondary-nav.navbar-default form label, .secondary-nav.navbar-default form input[type=checkbox]{
	display: inline-block;
	vertical-align: top;
}

.secondary-nav.navbar-default form legend{
	color: #000;
	font-weight: 600;
	border: none;
	text-transform: uppercase;
	margin: 0;
}

.secondary-nav.navbar-default form > fieldset{
	margin: 15px 0 0 0;
}

.dropdown-menu {
	position: relative;
	top: auto;
	left: auto;
	z-index: 1000;
	display: block;
	float: none;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	border-radius: none;
	box-shadow: none;
}

#slider-range{
	width: 90%;
	margin: 0 auto;
}

.socials{
	display: inline-block;
	margin: 15px 0 0 0;
	float:right;
}

.socials .twitter, .socials .facebook, .socials .google, .socials .pinterest{
	background: #fff url(../layout/socials.png) no-repeat 0 0;
	background-position: 0 0;
	width: 45px;
	height: 45px;
	display: inline-block;
}

.socials .facebook{background-position: -50px 0;}
.socials .google{background-position: -100px 0;}
.socials .pinterest{background-position: -150px 0;}

.socials .twitter:hover, .socials .facebook:hover, .socials .google:hover, .socials .pinterest:hover{
	background-image: url(../layout/socials-active.png);
}

.sorting-form{
	display: inline-block;
}

.sorting-form fieldset{
	display: inline-block;
	vertical-align: top;
}

.viewchanger{
	float: right;
	margin-top: -10px;
	height:35px;
}

.viewchanger p{
	display: inline-block;
	vertical-align: top;
	font-weight: 600;
	margin: 10px 15px 0 0;
}

.grid, .list{
	background: #fff url(../layout/grid.png) no-repeat 3px 0;
	padding-top: 20px;
	width: 30px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin-left: 5px;
}

.list{
	background-image: url(../layout/list.png);
}

.grid:hover, .grid.active{
	background-image: url(../layout/grid-active.png);
	font-weight: 600;
}

.list:hover, .list.active{
	background-image: url(../layout/list-active.png);
	font-weight: 600;
}

.catalogue-nav
{
    text-align: right;
    margin-top: 20px;
}

.catalogue-nav > p
{
    float: left;
}

.catalogue-nav p, .catalogue-nav div
{
    display: inline-block;
}

.catalogue-nav div
{
    margin-right: 80px;
}

.catalogue-nav div a{
	text-transform: none;
	margin: 0 5px;
	display: inline-block;
}

.panel-default>.panel-heading
{
    background-color: #fff;
    padding: 0;
}

.panel-default>.panel-heading a
{
    display: block;
    padding: 15px;
    font-weight: 900;
    color: #000;
}

.row{
	padding-bottom: 25px;
}

.banner, .col-md-9 .banner{
	position: relative;
}

.banner img, .banner, .col-md-9 .banner img{
	width: 100%;
}

.banner .banner-promo, .col-md-9 .banner .banner-promo{
	position: absolute;
	width: 375px;
	height: 280px;
	left: 50%;
	top: 50%;
	margin: -140px 0 0 -183px;
	background-color: #fff;
	padding: 50px 30px 30px 30px;
	box-sizing: border-box;
	color: #000;
	text-align: center;
	text-transform: uppercase;
}

.col-md-9 .banner .banner-promo {
	width: 300px;
	height: 80px;
	margin: -40px 0 0 -150px;
	padding: 25px 30px 30px 30px;
}

.banner .banner-promo h2, .col-md-9 .banner .banner-promo h2{
	margin: 0 0 10px 0;
	line-height: 35px;
	font-weight: 600;
	width: 250px;
	margin: 0 auto;
}

.banner .banner-promo p, .col-md-9 .banner .banner-promo p{
	font-weight: 600;
	font-size: 18px;
	line-height: 35px;
}

.banner .banner-promo p strong, .col-md-9 .banner .banner-promo p strong{
	font-size: 23px;
}

.banner .banner-promo:before, .col-md-9 .banner .banner-promo:before{
	content: "";
	position: absolute;
	top: 5%;
	left: 3%;
	display: block;
	width: 94%;
	height: 90%;
	border: 2px solid #787878;
}

.promotional{
	background-color: #000;
	height: 495px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 60px 50px 0 50px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

.promotional p:first-child{
	font-size: 18px;
}

.promotional p{
	font-size: 16px;
	line-height: 20px;
}

.promotional a{
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	position: relative;
	z-index: 5;
}

.promotional p strong{
	display: block;
}

.promotional p.large{
	font-size: 80px;
	font-weight: 700;
	line-height: 65px;
}

.promotional p.large span{
	font-size: 40px;
	display: block;
	position: relative;
}

.promotional p.large span:before, .promotional p.large span:after {
	content: "";
	width: 30px;
	position: absolute;
	border-top: 5px solid #fff;
	top: 32px;
	left: 20%;
}

.promotional p.large span:after{
	left: inherit;
	right: 20%;
}

.promotional hr{
	width: 70px;
}

.promotional:before{
	content: "";
	display: block;
	position: absolute;
	width: 86%;
	height: 86%;
	border: 4px solid #fff;
	top: 7%;
	left: 7%;
}

.col-md-3 .promotional{
	height: 400px;
	padding-top: 50px;
}

.col-md-3 .promotional p:first-child{
	font-size: 12px;
}

.col-md-3 .promotional p.large{
	font-size: 60px;
	line-height: 55px;
}

.col-md-3 .promotional p.large span{
	font-size: 30px;
}

.col-md-3 .promotional p.large span:before, .col-md-3 .promotional p.large span:after {
	content: "";
	top: 26px;
	left: 10%;
	width: 25px;
	border-top: 4px solid #fff;
}

.col-md-3 .promotional p.large span:after {
	left: inherit;
	right: 9%;
}

.col-md-3 .promotional p {
  font-size: 12px;
  line-height: 17px;
}

.col-md-3 .delivery-box{
	margin: 20px 0 0 0;
	padding: 10px 20px;
}

.col-md-3 .delivery-box img{
	float: none;
	display: block;
	margin: 0 auto;
}

.product-promo{
	position: relative;
	text-align: center;
	margin-bottom: 40px;
}

.product-promo a{
	background-color: #fff;
	color: #000;
	display: block;
	position: absolute;
	width: 220px;
	height: 120px;
	top: 70%;
	left: 50%;
	margin-left: -110px;
	box-sizing: border-box;
	padding: 20px 0;
	font-size: 25px;
	font-weight: 600;
}

.product-promo a:hover{
	text-decoration: none;
}

.product-promo a:hover:after{
	text-decoration: underline;
}

.product-promo a:before{
	content: "";
	display: block;
	position: absolute;
	width: 94%;
	height: 88%;
	border: 2px solid #787878;
	top: 6%;
	left: 3%;
}

.product-promo a:after{
	content: "-Shop now-";
	display: block;
	font-size: 20px;
	margin-top: 10px;
}

.product-promo img, .new-promo img{
	width: 100%;
}

.introduction{
	text-align: center;
	font-weight: 600;
}

.introduction h1{
	color: #000;
	font-weight: 700;
	margin: 35px 0;
}

.introduction p{
	margin-bottom: 20px;
	line-height: 25px;
}

.delivery-box{
	margin-top: 50px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #787878;
}

.delivery-box img{
	float: left;
	padding: 10px 20px 10px 10px;
}

.delivery-box h4{
	color: #000;
	font-weight: 600;
}

.delivery-box p{
	font-weight: 600;
}

.new-promo a{
	display: block;
	background: #fff;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	padding: 20px;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 220px;
	margin-left: -110px;
	border: 2px solid #787878;
}

.new-promo a:hover{
	text-decoration: none;
}

.new-promo a:hover:after{
	text-decoration: underline;
}

.new-promo a:before{
	content: "";
	position: absolute;
	top: 85px;
	left:37%;
	margin-left: -20px;
	width: 60px;
	height: 1px;
	background-color: #000;
	margin: 5px 0;
}

.new-promo a:after{
	content: "shop now";
	display: block;
	font-size: 24px;
	font-weight: 600;
	margin-top: 30px;
}

.clearance{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px 10px 23px 10px;
	position: relative;
	text-transform: uppercase;
	margin-top: 20px;
}

.clearance:before{
	content:"";
	position: absolute;
	top: 7%;
	left: 1%;
	width: 98%;
	height: 86%;
	border: 4px solid #fff;
}

.clearance h2{
	font-size: 40px;
	font-weight: 900;
	margin: 20px 0 0 0;
}

.clearance p{
	font-size: 18px;
	margin: 0;
}

.clearance a{
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	position: relative;
	z-index: 10;
}

.col-md-12{
	padding: 0;
}

.product-carousel, .product-catalogue{
	text-align: center;
	color: #000;
	border: 1px solid #787878;
	padding-top: 15px;
	margin: 0 0 30px 0;
}

.product-carousel img, .product-catalogue img{
	width: 90%;
}

.product-carousel p, .product-catalogue p{
	font-size: 18px;
	font-weight: 600;
	width: 200px;
	margin: 0 auto;
}

.product-carousel .price, .product-catalogue .price, .price{
	font-size: 40px;
	font-weight: 900;
}

.product-carousel .price span, .product-catalogue .price span, .price span{
	font-size: 20px;
	font-weight: 600;
	text-decoration: line-through;
	display: block;
}

.price.small
{
    font-size: 35px;
    margin-bottom: 30px;
}

.product-carousel a, .product-catalogue a{
	display: block;
	padding: 5px 10px;
	color: #fff;
	background-color: #000;
	font-size: 25px;
	font-weight: 700;
	width: 210px;
	margin: 10px auto -20px;
}

.product-carousel a:hover, .product-catalogue a:hover{
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	padding: 3px 8px;
	text-decoration: none;
}

.product-catalogue{
	border: none;
}

.product-catalogue p
{
    width: auto;
}

.product-catalogue{
	margin: 0 0 50px 0;
}

.product-form label
{
    font-size: 18px;
    margin-right: 10px;
}

.product-title
{
    text-align: center;
    font-weight: 900;
    width: 80%;
    margin: 0 auto;
    font-size: 34px;
}

.small-title
{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

.product-form div
{
    display: inline-block;
    width: 27px;
    height: 27px;
    text-align: center;
    color: #dbdbdb;
    font-size: 30px;
    line-height: 30px;
    vertical-align: top;
    border: 1px solid #dbdbdb;
    cursor: pointer;
}

.product-form div:first-child
{
    line-height: 20px;
}

.product-form input[type=text]
{
    width: 70px;
}

.product-form input[type=submit]
{
    display: block;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 7px 25px;
    margin: 40px 0;
}

footer{
	padding: 20px 0 50px;
}

footer h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 20px 0;
}

footer a, footer a:hover{
	color: #fff;
	text-transform: none;
	display: block;
	line-height: 25px;
	font-weight: 500;
}

footer a:hover{
	text-decoration: underline;
}

footer form input[type=text]{
	width: 100%;
	padding: 2px 10px;
}

footer form input[type=submit]{
	background-color: #1b1b1b;
	color: #fff;
	font-size: 20px;
	font-size: 400;
	text-transform: uppercase;
	padding: 10px;
	width: 150px;
	display: block;
	border: none;
	margin: 20px auto 0;
}

footer form input[type=submit]:hover{
	background-color: #fff;
	color: #1b1b1b;
}

.mobile-show{display:none;}

@media (max-width: 1200px) {

	.navbar-default.main-nav .navbar-nav li a, .navbar-default.main-nav .navbar-nav li a:focus {
		padding: 14px 0 14px 8px;
		font-size: 12px;
	}
	.navbar-default.main-nav .navbar-nav li a:after {
		padding-left: 8px;
	}

	.promotional p.large span:before {left: 10%;}
	.promotional p.large span:after {right: 10%;}

}

@media (max-width: 992px) {
	.logo{width: 100%;}
	.navbar-nav{text-align: center;}
	.navbar-nav>li {
		float: none;
		display: inline-block;
	}
	.navbar-default.main-nav .navbar-nav li a, .navbar-default.main-nav .navbar-nav li a:focus{
		padding:7px 0 7px 8px;
	}
	.promotional, .new-promo{
		max-width: 400px;
		margin: 20px auto;
	}
	.row > .col-md-12 > .col-md-3 {
		width: 47%;
		display: inline-block;
    }
	.catalogue.container .col-md-3{
		width: 35%;
		display: inline-block;
		vertical-align: top;
	}
	.catalogue.container .col-md-9{
		width: 64%;
		display: inline-block;
		vertical-align: top;
	}
	.catalogue.container .col-md-9 .col-md-4{
		display: inline-block;
		width: 48%;
	}
	.price
	{
	    display: inline-block;
	}
	.price.small
	{
	    float: right;
	}
	.col-md-7
	{
	    text-align: center;
	}
	.socials.mobile-hide
	{
	    display: none;
	}
	.socials.mobile-show
	{
	    display: block;
	}
	.product-form input[type=submit]
	{
	    float: right;
        margin: -25px 0 0 0;
	}
}

@media (min-width: 767px){
	.secondary-nav .navbar-brand{
		color: #000;
		font-weight: 700;
		width: 175px;
		font-size: 25px;
		position: relative;
		text-align: center;
		margin: 0 auto;
		text-transform: uppercase;
		float: none;
	}
	.secondary-nav .navbar-brand:hover{
		color: #000;
	}
	.secondary-nav .navbar-brand:before, .secondary-nav .navbar-brand:after{
		content: "-";
		position: absolute;
		display: block;
		left: -5px;
		top: 13px;
		font-size: 27px;
		color: #000;
		font-weight: 700;
	}
	.secondary-nav .navbar-brand:after{
		left: auto;
		right: -10px;
	}
}

@media (max-width: 767px) {
	.navbar-default.main-nav .navbar-brand{display: block; padding-left: 40px;}
	
	.navbar-nav>li {display: block;}
	.navbar-default.main-nav .navbar-nav li a{font-size: 14px; font-weight: 600; padding: 10px; margin: 0 0 5px 0; display: block;}
	.navbar-default.main-nav .navbar-nav li a:after {content: ""; padding:0;}
	.dropdown-menu {display: none;}
	.secondary-nav .navbar-brand{padding-left: 40px;}
	.secondary-nav .navbar-header{
		background-color: #333;
		text-transform: uppercase;
	}
	#secondary-nav, #secondary-nav form fieldset{
		background-color: #333;
	}
	#secondary-nav form legend, #secondary-nav form label{
		color: #fff;
		font-weight: 400;
		cursor: pointer;
	}
	.secondary-nav.navbar-default form > fieldset {
		padding-left: 20px;
	}
	.introduction h1{
		margin-top: 0;
	}
	.catalogue.container .col-md-3{
		width: 100%;
		padding: 0;
		display: block;
		vertical-align: top;
	}
	.catalogue.container .col-md-9{
		width: 100%;
		display: block;
		vertical-align: top;
		text-align: center;
	}
	.catalogue.container .promotional.small{
		margin: 0 auto;
	}
	.catalogue.container .col-md-9 .col-md-4{
		display: inline-block;
		width: 48%;
	}
	.clearance h2{
		font-size: 30px;
	}
	.clearance:before {
		left: 2%;
		width: 96%;
	}
	.mobile-hide{display:none !important;}
	.mobile-show{display:block !important;}
	footer .container > div{margin-bottom: 20px;}
	footer{text-align: center;}
}

@media (max-width: 550px) {
	header .col-sm-3, header .col-sm-3:last-child{
		text-align: center;
	}
	.row > .col-md-12 > .col-md-3 {
		display: block;
		width: auto;
		margin: 15px auto;
    }
    .banner{
    	min-height: 210px;
    }
	.banner .banner-promo {
	position: absolute;
	width: 230px;
	height: 200px;
	left: 50%;
	top: 10%;
	margin: 0 0 0 -115px;
	padding: 20px;
	}
	.banner .banner-promo h2{font-size:20px; width: auto;}
	.banner .banner-promo p {font-size: 15px; line-height: 24px;}
	.banner .product-carousel img{
		width: 70%;
	}
	.catalogue.container .banner{
		min-height: inherit;
	}
	.catalogue.container .banner .banner-promo{
		margin: -10px 0 0 -150px;
		width: 285px;
	}
	.catalogue.container .col-md-9 .col-md-4{
		display: block;
		width: 80%;
		margin: 0 auto 40px;
	}
	.product-catalogue a {
		width: 170px;
	}
	.catalogue-nav{
		text-align: center;
	}
	.viewchanger{
		display: none;
	}
	.catalogue-nav > p, .catalogue-nav div{
		display: block;
		margin: 0 auto 10px;
		float: none;
	}
	.catalogue-nav > button{
		display: none;
	}
	.delivery-box{background: none; padding: 10px;}
	
	.price
	{
	    display: block;
	}
	.price.small
	{
	    float: none;
	}
	.col-md-7, .col-md-5
	{
	    text-align: center;
	}
	.socials.mobile-hide
	{
	    display: none;
	}
	.socials.mobile-show
	{
	    display: block;
	    margin: -10px 0 20px;
	    float: none;
	}
	.product-form input[type=submit]
	{
	    float: none;
	    display: block;
        margin: 20px auto;
	}
}

@media (max-width: 370px) {
	.promotional{height: 520px;}
	.product-promo{margin-bottom:60px;}
	.product-promo a{top: 60%;}
	.promotional p.large span:after {right: 0;}
	.promotional p.large span:before {left: 0;}
	.product-carousel img{width: 90%;}
	.clearance:before {
		left: 3%;
		width: 94%;
	}
	.sorting-form fieldset{
		display: block;
		margin: 0 auto;
	}
}