@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900);

html, body{
	margin: 0;
	padding: 0;
	font-family: Raleway;
}

header.container{
	padding: 30px 0 40px;
}

header .col-sm-3{
	padding-top: 25px;
}

header .col-sm-6{
	text-align: center;
}

header form input, .basket{
	background: #fff url(../layout/icon-search.png) no-repeat 10px 5px;
	padding: 12px 10px 12px 50px;
	border: 1px solid #c6c6c6;
	text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 10px;
}

header form input:focus{
	outline: 1px solid #787878;
}

header a{
	color: #787878;
	font-weight: 500;
}

header .col-sm-3:last-child{
	text-align: right;
}

.basket{
	background: #fff url(../layout/icon-basket.png) no-repeat 20px 5px;
	padding: 12px 10px 12px 70px;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	display: block;
}

.basket:hover{
	border: 1px solid #787878;
}

.basket p{
	margin: 0;
}

.basket p span{
	font-weight: 700;
}

.navbar, footer{
	background-color: #313131;
	padding: 0;
}

a, a:hover{
	text-transform: uppercase;
	color: #787878;
}

.navbar-default .navbar-nav li{
	padding: 0;
	margin: 0;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus{
	color: #e8e8e8;
	padding: 14px 0 14px 14px;
	display: inline-block;
	font-size: 13px;
}

.navbar-default .navbar-nav li a:after{
	content: "|";
	padding-left: 14px;
}

.navbar-default .navbar-nav li:first-child a{
	padding-left: 0;
}

.navbar-default .navbar-nav li:last-child a:after{
	content: "";
}

.navbar-default .navbar-nav li a:hover{
	text-decoration: underline;
	color: #fff;
}

.row{
	padding-bottom: 25px;
}

.banner{
	position: relative;
}

.banner img{
	width: 100%;
}

.banner-promo{
	position: absolute;
	width: 375px;
	height: 280px;
	left: 50%;
	top: 50%;
	margin: -140px 0 0 -183px;
	background-color: #fff;
	padding: 50px 30px 30px 30px;
	box-sizing: border-box;
	color: #000;
	text-align: center;
	text-transform: uppercase;
}

.banner-promo h2{
	margin: 0 0 10px 0;
	line-height: 35px;
	font-weight: 600;
	width: 250px;
	margin: 0 auto;
}

.banner-promo p{
	font-weight: 600;
	font-size: 18px;
	line-height: 35px;
}

.banner-promo p strong{
	font-size: 23px;
}

.banner-promo:before{
	content: "";
	position: absolute;
	top: 5%;
	left: 3%;
	display: block;
	width: 94%;
	height: 90%;
	border: 2px solid #787878;
}

.promotional{
	background-color: #000;
	height: 495px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 60px 50px 0 50px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

.promotional p:first-child{
	font-size: 18px;
}

.promotional p{
	font-size: 16px;
	line-height: 20px;
}

.promotional a{
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	position: relative;
	z-index: 5;
}

.promotional p strong{
	display: block;
}

.promotional p.large{
	font-size: 80px;
	font-weight: 700;
	line-height: 65px;
}

.promotional p.large span{
	font-size: 40px;
	display: block;
	position: relative;
}

.promotional p.large span:before, .promotional p.large span:after {
	content: "";
	width: 30px;
	position: absolute;
	border-top: 5px solid #fff;
	top: 32px;
	left: 20%;
}

.promotional p.large span:after{
	left: inherit;
	right: 20%;
}

.promotional hr{
	width: 70px;
}

.promotional:before{
	content: "";
	display: block;
	position: absolute;
	width: 86%;
	height: 86%;
	border: 4px solid #fff;
	top: 7%;
	left: 7%;
}

.product-promo{
	position: relative;
	text-align: center;
	margin-bottom: 40px;
}

.product-promo a{
	background-color: #fff;
	color: #000;
	display: block;
	position: absolute;
	width: 220px;
	height: 120px;
	top: 70%;
	left: 50%;
	margin-left: -110px;
	box-sizing: border-box;
	padding: 20px 0;
	font-size: 25px;
	font-weight: 600;
}

.product-promo a:hover{
	text-decoration: none;
}

.product-promo a:hover:after{
	text-decoration: underline;
}

.product-promo a:before{
	content: "";
	display: block;
	position: absolute;
	width: 94%;
	height: 88%;
	border: 2px solid #787878;
	top: 6%;
	left: 3%;
}

.product-promo a:after{
	content: "-Shop now-";
	display: block;
	font-size: 20px;
	margin-top: 10px;
}

.product-promo img, .new-promo img{
	width: 100%;
}

.introduction{
	text-align: center;
	font-weight: 600;
}

.introduction h1{
	color: #000;
	font-weight: 700;
	margin: 35px 0;
}

.introduction p{
	margin-bottom: 20px;
	line-height: 25px;
}

.delivery-box{
	margin-top: 50px;
	background: #fff url(../layout/icon-delivery.png) no-repeat 10px  15px;
	background-size: 140px 70px;
	padding: 10px 10px 10px 170px;
	border: 1px solid #787878;
}

.delivery-box h4{
	color: #000;
	font-weight: 600;
}

.delivery-box p{
	font-weight: 600;
}

.new-promo a{
	display: block;
	background: #fff;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	padding: 20px;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 220px;
	margin-left: -110px;
	border: 2px solid #787878;
}

.new-promo a:hover{
	text-decoration: none;
}

.new-promo a:hover:after{
	text-decoration: underline;
}

.new-promo a:before{
	content: "";
	position: absolute;
	top: 85px;
	left:37%;
	margin-left: -20px;
	width: 60px;
	height: 1px;
	background-color: #000;
	margin: 5px 0;
}

.new-promo a:after{
	content: "shop now";
	display: block;
	font-size: 24px;
	font-weight: 600;
	margin-top: 30px;
}

.clearance{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px 10px 23px 10px;
	position: relative;
	text-transform: uppercase;
	margin-top: 20px;
}

.clearance:before{
	content:"";
	position: absolute;
	top: 7%;
	left: 1%;
	width: 98%;
	height: 86%;
	border: 4px solid #fff;
}

.clearance h2{
	font-size: 40px;
	font-weight: 900;
	margin: 20px 0 0 0;
}

.clearance p{
	font-size: 18px;
	margin: 0;
}

.clearance a{
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	position: relative;
	z-index: 10;
}

.product-carousel{
	text-align: center;
	color: #000;
}

.product-carousel p{
	font-size: 18px;
	font-weight: 600;
	width: 200px;
	margin: 0 auto;
}

.product-carousel .price{
	font-size: 40px;
	font-weight: 900;
}

.product-carousel .price span{
	font-size: 20px;
	font-weight: 600;
	text-decoration: line-through;
	display: block;
}

.product-carousel a{
	display: block;
	padding: 5px 10px;
	color: #fff;
	background-color: #000;
	font-size: 25px;
	font-weight: 700;
	width: 210px;
	margin: 10px auto 0;
}

.product-carousel a:hover{
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	padding: 3px 8px;
	text-decoration: none;
}

footer{
	padding: 20px 0 50px;
}

footer h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 20px 0;
}

footer a, footer a:hover{
	color: #fff;
	text-transform: none;
	display: block;
	line-height: 25px;
	font-weight: 500;
}

footer a:hover{
	text-decoration: underline;
}

footer form input[type=text]{
	width: 100%;
	padding: 2px 10px;
}

footer form input[type=submit]{
	background-color: #1b1b1b;
	color: #fff;
	font-size: 20px;
	font-size: 400;
	text-transform: uppercase;
	padding: 10px;
	width: 150px;
	display: block;
	border: none;
	margin: 20px auto 0;
}

footer form input[type=submit]:hover{
	background-color: #fff;
	color: #1b1b1b;
}

.mobile-show{display:none;}

@media (max-width: 1200px) {

	.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus {
		padding: 14px 0 14px 8px;
		font-size: 12px;
	}
	.navbar-default .navbar-nav li a:after {
		padding-left: 8px;
	}

	.promotional p.large span:before {left: 10%;}
	.promotional p.large span:after {right: 10%;}

}

@media (max-width: 979px) {
	.logo{width: 100%;}
	.navbar-nav{text-align: center;}
	.navbar-nav>li {
		float: none;
		display: inline-block;
	}
	.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus{
		padding:7px 0 7px 8px;
	}
	.promotional, .new-promo{
		max-width: 400px;
		margin: 20px auto;
	}
	.row > .col-md-12 > .col-md-3 {
		width: 47%;
		display: inline-block;
    }
}

@media (max-width: 767px) {
	.navbar-nav>li {display: block;}
	.navbar-default .navbar-nav li a{font-size: 14px; font-weight: 600; padding: 10px; margin: 0 0 5px 0; display: block;}
	.navbar-default .navbar-nav li a:after {content: ""; padding:0;}
	.introduction h1{
		margin-top: 0;
	}
	.mobile-hide{display:none;}
	.mobile-show{display:block;}
	footer .container > div{margin-bottom: 20px;}
	footer{text-align: center;}
}

@media (max-width: 550px) {
	header .col-sm-3, header .col-sm-3:last-child{
		text-align: center;
	}
	.row > .col-md-12 > .col-md-3 {
		display: block;
		width: auto;
		margin: 15px auto;
    }
    .banner{
    	min-height: 210px;
    }
	.banner-promo {
	position: absolute;
	width: 230px;
	height: 200px;
	left: 50%;
	top: 10%;
	margin: 0 0 0 -115px;
	padding: 20px;
	}
	.banner-promo h2{font-size:20px; width: auto;}
	.banner-promo p {font-size: 15px; line-height: 24px;}

	.delivery-box{background: none; padding: 10px;}
}

@media (max-width: 370px) {
	.promotional{height: 520px;}
	.product-promo{margin-bottom:60px;}
	.product-promo a{top: 60%;}
}